* {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

body .container {
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    grid-template-rows: 15vh 10vh 70vh 20vh;
    /*display: flex;*/
}

.header-container {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.title-container {
    height: 14vh;
    align-content: center;
    background-color: rgb(247, 198, 39);
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.title-header-name{
    font-weight: bold;
    font-size: 30px;
}

.title-header-spam {
    font-weight: 400;
    color: azure;
    font-size: 26px;
}

.menu-container {
    text-decoration: none;
    height: 8vh;
    align-items: center;
    color: aliceblue;
    background-color: rgb(80, 73, 73);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.menu-container a {
    color: azure;
    font-size: 20px;
}

.menu-container :hover {
    color: rgb(245, 223, 30);
    font-size: 20px;
}

a {
    text-decoration: none;
}

.menu-container {
    display: flex;
    align-content: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.menu-item {
    flex-grow: 4;
    text-align: center;
}

.card-item-container {
    display: flex;
    justify-content: center;
    gap: 2vw;
    height: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 8vw;
    margin-right: 8vw;
}

.card-item-container p {
    text-align:justify;
    width: 33vw;
}

.about-title {
    text-align: center;
    align-items: center;
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: rgba(0, 0, 255, 0.822);
    border-radius: 20px 20px 0 0;
}

.flag-title {
    text-align: center;
}

.web-title {
    text-align: center;
    align-items: center;
    padding-top: 11%;
    padding-bottom: 11%;
    background-color: blue;
    border-radius: 20px 20px 0 0;
}


.web-res-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40%;
}

.card-left-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;

}

.card-left-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 4%;
}

.card-container-left {
    border: 2px solid black;
    border-radius: 20px;
    justify-content: center;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 68vw;
    height: 100%;
}

.card-container-left p {
    margin: 4%;
}

hr {
    border: none;
    width: 70%;
    height: 1px;
    background-color: #000;
    margin: 20px auto;
}

.card-container-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-column-start: -4;
    grid-column-end: -3;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 25vw;

}

.card-right-container {
    height: 100%;
    width: 100%;
}

.footer-container {
    font-size: 18px;
    background-color: rgb(247, 198, 39);
    align-content: center;
    text-align: center;
    height: 15vh;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}