* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    background-color: #3c0a64;
    color: rgb(240, 240, 240);
}

header a {
    color: rgb(240, 240, 240);
}

a {
    text-decoration: none;
}

body {
    font-family: Roboto, sans-serif;
}

span {
    font-size: 1rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 25px;
    place-items: center;
}

img {
    width: 100%;
    height: auto;
    margin: .5rem;
}

/* Mobile */
header {
    display: grid;
    grid-gap: 1rem;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px #333;
}

header, main {
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
}

/* Small view navigation */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute; /* Adjust this as needed for your layout */
    top: 20px; /* Adjust this as needed for your layout */
    right: 20px; /* Adjust this as needed for your layout */
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

nav {
    display: none; /* Initially hide the navigation menu */
}

nav.show {
    display: flex; /* Show the navigation menu when the 'show' class is added */
    flex-direction: row; /* Ensure flex-direction is row for small screens */
}

nav a {
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    height: 10vh;
    align-content: center;
}

/* Larger View */
@media (min-width: 740px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #menu {
        display: none; /* Hide hamburger button */
    }

    nav {
        display: flex; /* Always display navigation for larger screens */
        flex-direction: row; /* Ensure flex-direction is row for larger screens */
        justify-content: flex-end;
    }

    nav a {
        flex: 1 1 auto;
    }

    .container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}